.navbar {
  background-color: #fff9e6;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  position: relative; /* 고정하지 않음 */
  z-index: 10;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-logo a {
  color: #000;
  text-decoration: none;
}

.navbar-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin-left: 20px;
}

.navbar-links a {
  color: #333;
  text-decoration: none;
  font-size: 1rem;
}

.navbar-links a:hover {
  color: #007bff; /* 링크에 호버 시 색상 변경 */
}
